.profile {
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 410px;
    width: 100%;
}

.profile__title {
    margin: 0 auto;
    padding-top: 74px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.profile__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 123px 0 70px 0;
}

.profile__form-container:first-of-type {
    border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__form-container+.profile__form-container {
    padding-top: 18px;
    border-top: 1px solid transparent;
}

.profile__form-container:nth-child(2):focus-within {
    border-top: 1px solid rgba(66, 133, 244, 1);
}

.profile__form-container:nth-child(1):focus-within {
    border-bottom: 1px solid rgba(66, 133, 244, 1);
}

.profile__form-container {
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}

.profile__field-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.profile__label {
    max-width: 141px;
    color: rgba(255, 255, 255, 1);
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
}

.profile__field {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', Arial, sans-serif;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    width: calc(100% - 50px);
}

.profile__field:focus {
    outline: 0;
    opacity: 0.8;
}

.profile__field-error {
    color: rgba(238, 52, 101, 1);
}

.profile__field-error-message {
    display: block;
    min-height: 12px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;
    color: rgba(238, 52, 101, 1);
    padding-top: 4px;
    text-align: right;
}

.profile__error-message {
    display: block;
    min-height: 14px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: normal;
    color: rgba(238, 52, 101, 1);
    padding-bottom: 20px;
}

.profile__submit-button {
    min-height: 45px;
    color: rgba(255, 255, 255, 1);
    border: none;
    width: 100%;
    border-radius: 3px;
    background: rgba(66, 133, 244, 1);
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding: 14px;
    cursor: pointer;
}

.profile__submit-button:disabled {
    opacity: .8;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 205px;
}

.profile__button {
    padding: 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profile__button_type_exit {
    color: rgba(238, 52, 101, 1);
    font-weight: 500;
    margin-top: 16px;
    text-decoration: none;
}

@media screen and (max-width: 870px) {
    .profile__title {
        padding-top: 236px;
    }

    .profile__form {
        padding: 96px 0 269px 0;
    }

    .profile__buttons {
        margin-top: 194px;
    }

    .profile__button_type_exit {
        margin-top: 16px;
    }
}

@media screen and (max-width: 460px) {
    .profile__form {
        max-width: calc(100% - 2 * 30px);
    }

    .profile__button {
        font-size: 12px;
    }

    .profile__title {
        padding-top: 70px;
    }

    .profile__form {
        padding: 80px 0 40px 0;
    }

    .profile__buttons {
        margin-top: 363px;
    }

    .profile__button_type_exit {
        margin-top: 17px;
    }

    .profile__submit-button {
        font-size: 12px;
    }
}