.savedmovies {
    margin-bottom: 266px;
}

@media screen and (max-width: 870px) {
    .savedmovies {
        margin-bottom: 189px;
    }
}

@media screen and (max-width: 400px) {
    .savedmovies {
        margin-bottom: 187px;
    }
}