.promo {
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    background-color: rgba(7, 48, 66, 1);
    max-width: 1280px;
    color: rgb(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    padding: 75px 70px;
}

.promo__project {
    max-width: 640px;
}

.nbr {
    white-space: nowrap;
    display: inline-block;
    translate: 0px 1px;
}

.promo__title {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 50px;
    margin: 0;
    font-weight: 400;
    line-height: 1.16;
}

.promo__description {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding-top: 36px;
    padding-bottom: 146px;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.5);
    max-width: 310px;
}

.promo__image {
    width: 310px;
    height: 304px;
    background-image: url(../../../images/promo-image.svg);
}

.promo__button {
    border-style: none;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    cursor: pointer;
    min-height: 36px;
    width: 129px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}